# Core functionality - changes here should be rare!
/src/app.py                   @RacoonRocket97
/src/backend/database.py      @RacoonRocket97
/src/backend/routers/auth.py  @RacoonRocket97

# The frontend will need refactored soon to be more object oriented.
/src/static/   @RacoonRocket97
